body {background-color: #dd9191;color: #1b1d1f;}
h1, h2, h3 {color: #ed0000;}
a:link {
    color: #2d00e0;
    text-decoration-color: #cd0ede;
  }
 nav {background-color: #b9b5c8; padding: 10px; margin-bottom: 30px}
 nav a {color: #cd0ede;}
 nav a:hover {background-color: #ff6c6c;}
.myphoto {float: right; margin: 20px; max-width: 100%;}
.row, .row2 {display: flex; margin: 30px; background-color: #cce5ff; border-radius: 2em; margin-bottom: 40px; flex-wrap: wrap;}
.row {padding-left: 1em;}
.emailonly, .linkedinlink, .iframe1, .form1 {margin: 40px; padding-left: 1em;}
.quote {float: right;}
h1 {text-align: center;}
.bigdiv {display: flex;}
.div1 {flex-basis: 75%; justify-content: space-between}
.div2 {flex-basis: 25%;}
aside {background-color: #ff6c6c; padding-left: 2em;border-radius: 2em; margin-bottom: 40px; margin-top: 50px; padding-top: 10px; padding-bottom: 30px;}
.flexbox1 {display: flex; margin-right: 30%;}
.skill {display:inline-block; margin: 40px;}
p {margin-top: 50px; margin-bottom: 30px;}
@media only screen and (max-width: 800px) {a {flex-wrap: wrap; display: block; margin-bottom: 10px;} span {display: none;}}
.navigationfunny {display: flex; background-color: #000000; padding: 10px; color: #ffffff; margin-bottom: 20px; justify-content: space-between;}
.Skip {
  background-color: #ffbf00;
  padding: 5px;
  border: 1px solid #000000;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: -999px;
}

.Skip:focus {left: 10px;}