body {background-color: #dd9191;color: #1b1d1f;}
h1, h2, h3 {color: #ed0000;}
a:link {
    color: #19ee40;
    text-decoration-color: #cd0ede;
  }
 nav {background-color: #3205d5; padding: 10px; margin-bottom: 30px}
 nav a {color: #cd0ede;}
 nav a:hover {background-color: #ff6c6c;}
.myphoto {float: right; margin: 20px;}
.row, .row2 {display: flex; margin: 30px; background-color: #cce5ff; border-radius: 2em; margin-bottom: 40px;}
.row {padding-left: 1em;}
.emailonly, .linkedinlink, .iframe1, .form1 {margin: 40px; padding-left: 1em;}
.quote {float: right; }